<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
     {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
             
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- right div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <ul class="contact-social">
                            <li><a href="https://www.facebook.com/raj.saha.450" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/ramkrishna-saha-334281214/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/ramkrishna07" target="_blank"><i class="fab fa-github"></i></a></li>
                            <li><a href="https://www.instagram.com/raj_saha_king/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://wa.me/9647826354" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                        <figure>
                            <img src="img/founder.JPG" alt="" class="img-fluid" title="Ramkrishna Saha">
                        </figure>
                    </div>
                    <!-- left div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span> Web Developer </span>Engineering Student</h1>
                        <a href="https://ramkrishna07.netlify.app/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <!-- footer -->
   {{>footer}}
</body>
</html>